.bkg {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 6px;

    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.2);

    svg {
        width: 12px !important;
        height: 12px !important;
    }
}